.outer{

    background-color: #FFF;
    margin: 20px auto;
    text-align: center;
}

.inner{
    margin: 20px auto;
    height: 20vh;
    display: inline-block;
}

input[type=button]{

    display: block;
    margin: 10px auto;
    padding: 5px 20px;
    background-color:#141E46 ;
    color: #FFF;
}